<!-- <my-grid></my-grid> -->
<mat-accordion>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>panel1</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group Dir="rtl">
          <mat-tab label="1">
              <my-grid></my-grid>
          </mat-tab>
          <mat-tab label="2">
              <my-grid></my-grid>
          </mat-tab>
          <mat-tab label="3">
              <my-grid></my-grid>
          </mat-tab>
          <mat-tab label="4">
              <my-grid></my-grid>
          </mat-tab>
      </mat-tab-group>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>panel2</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group Dir="rtl">
          <mat-tab label="5">
              <my-grid></my-grid>
          </mat-tab>
          <mat-tab label="6">
              <my-grid></my-grid>
          </mat-tab>
          <mat-tab label="7">
              <my-grid></my-grid>
          </mat-tab>
          <mat-tab label="8">
              <my-grid></my-grid>
          </mat-tab>
      </mat-tab-group>
  </mat-expansion-panel>
</mat-accordion>